.coverage
.pytest_cache/
.venv/
*.egg-info/
*.pyc
**/github.githubassets.com/**
*/__pycache__/**
*/.package-lock.json/**
*/.venv/**
*/.vscode/**
*/*.log/**
*/node_modules/**
addon-manifest.json
build/
dist/
heroku_setup_hook.sh
htmlcov/
instance/
toxin/**
vui/**
workspace.code-workspace