*/.vscode/**
*/.venv/**
*/__pycache__/**
heroku_setup_hook.sh
addon-manifest.json
workspace.code-workspace
heroku_setup_hook.sh
*/*.log/**
.venv/
**/github.githubassets.com/**
toxin/**
*/node_modules/**
*/.package-lock.json/**