body {
    display: flex;
    max-width: 100vh;
}

.currency_table {
    display: flex;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
}

.telega_login {
    display: flex;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    box-sizing: 1px 0.6px, 1px, 3px, gray;
}